/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.game-area {
  margin-top: 25px;
  width: 450px;
}

.tick-tack-grid {
  div mat-grid-tile {
    cursor: pointer;

    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8) {
      border-left: 2px solid rgb(228, 111, 111);
      border-right: 2px solid rgb(228, 111, 111);
    }

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      border-top: 2px solid rgb(228, 111, 111);
      border-bottom: 2px solid rgb(228, 111, 111);
    }

    i.material-icons.tick {
      color: green;
      font-size: 45px;
    }

    i.material-icons.cross {
      color: red;
      font-size: 45px;
    }

  }
}

button {
  margin-right: 10px;
}